version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      time: "10:00"
      timezone: "America/New_York"

  - package-ecosystem: "bundler"
    directory: "/"
    schedule:
      interval: "monthly"
      time: "10:00"
      timezone: "America/New_York"
    open-pull-requests-limit: 10
