<h2>
  <span style="font-weight: lighter">
    <%= subscription.to_location.city_most_significant? ? "Near" : "In" %>
  </span>
  <%= subscription.to_location.to_fs(:short) %>
</h2>
<div style="margin-bottom: 2rem;">
  <% listings.each do |listing| %>
    <td>
      <%= render "hackathon", hackathon: listing.hackathon %>
    </td>
  <% end %>
</div>
