<p>
  Check out
  <% if (count = @digest.listings.count { |listing| listing.previously_listed_for_recipient? }) > 1 %>
    these <%= count %> new hackathons
  <% else %>
    this newly listed hackathon
  <% end %>
  coming up near you.
</p>

<% @new_listings_by_subscription.each do |subscription, listings| %>
  <%= render "subscription", subscription:, listings: %>
<% end %>

<% if @previous_listings_by_subscription.count > 0 %>
  <p>
    Here
    <% if (count = @digest.listings.count - @digest.listings.count { |listing| listing.previously_listed_for_recipient? }) > 1 %>
      are <%= count %> more hackathons
    <% else %>
      is one more hackathon
    <% end %>
    coming up near you.
  </p>
  
  <% @previous_listings_by_subscription.each do |subscription, listings| %>
    <%= render "subscription", subscription:, listings: %>
  <% end %>
<% end %>
