<footer style="margin: var(--spacing-4)">
  <p class="caption" style="text-align: center;">
    High School Hackathons Dashboard
    <br/>
    Made with ❤️ by
    <%= link_to "Hack Club", "https://hackclub.com", class: "hidden-link" %>
  </p>

</footer>
