<nav style="background: var(--sheet);">
  <div class="container wide" style="padding: var(--spacing-4); padding-bottom: 0">
    <%= render "admin/header/heading" %>
    <%= render "admin/header/nav" %>
  </div>
</nav>
