<% page :narrow %>
<% @nav_active_item = admin_hackathons_path %>

<h2 class="title">Hackathons</h2>

<%= turbo_frame_tag "hackathons-#{@page.number}", target: "_top", refresh: :morph do %>
  <%= render partial: "snippet", collection: @page.records, as: :hackathon %>

  <% unless @page.last? %>
    <%= turbo_stream.after "hackathons-#{@page.number}" do %>
      <%= turbo_frame_tag "hackathons-#{@page.number + 1}", target: "_top", src: url_for(page: @page.next_param), loading: :lazy, refresh: :morph do %>
        <div class="spinner" style="margin: 20px auto auto auto"></div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
