<% page :narrow %>
<% @nav_active_item = admin_hackathons_path %>

<h2 class="title">Hackathons</h2>

<%= turbo_frame_tag "hackathons-#{@page.number}", target: "_top", refresh: :morph do %>
  <%= render partial: "snippet", collection: @page.records, as: :hackathon %>

  <% unless @page.last? %>
    <%= turbo_stream.action :after_unless_duplicate, "hackathons-#{@page.number}" do %>
      <%= turbo_frame_tag "hackathons-#{@page.number + 1}", target: "_top", src: url_for(page: @page.next_param), loading: :lazy, refresh: :morph do %>
        <div class="mt-5 m-auto size-12 rounded-full border-5 border-[lightgray] border-t-[darkgray] animate-spin"></div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
