<% page :narrow %>
<% @nav_active_item = admin_hackathons_path %>
<h2 class="title">Hackathons</h2>

<%= render "filters" %>
<% if @hackathons.any? %>
  <%= render partial: "snippet", collection: @hackathons, as: :hackathon %>
<% else %>
  <p>No hackathons to show.</p>
<% end %>

<%== pagy_nav(@pagy) %>
