<% page :narrow %>
<% @nav_active_item = admin_hackathons_path %>
<h2 class="title">Hackathons</h2>

<%= render partial: "snippet", collection: @hackathons, as: :hackathon %>

<%== pagy_nav(@pagy) %>
