.full_page_card__background {
  height: 220%;
  background-position: center;
  background-size: cover;
}

.full_page_card__card {
  background-color: var(--elevated);
  border-radius: var(--radii-default);
}
