@use "sass:list";
@use "sass:string";

// vvv DEPRECATED BEGIN vvv
$spacing-unit: 1rem;

@each $direction in (top, bottom, left, right) {
  .push--#{$direction} {
    margin-#{$direction}: $spacing-unit;
  }

  .push-double--#{$direction} {
    margin-#{$direction}: $spacing-unit * 2;
  }

  .push-half--#{$direction} {
    margin-#{$direction}: calc($spacing-unit / 2);
  }
}

// ^^^ DEPRECATED END ^^^

@for $unit from 0 through 8 {
  @each $direction in (top, bottom, left, right) {
    $dir: string.slice($direction, 0, 1);

    .m#{$dir}#{$unit} {
      margin-#{$direction}: var(--spacing-#{$unit});
    }

    .p#{$dir}#{$unit} {
      padding-#{$direction}: var(--spacing-#{$unit});
    }
  }

  @each $list in ((x, left, right), (y, top, bottom)) {
    $axis: list.nth($list, 1);
    $dir1: list.nth($list, 2);
    $dir2: list.nth($list, 3);

    .m#{$axis}#{$unit} {
      margin-#{$dir1}: var(--spacing-#{$unit});
      margin-#{$dir2}: var(--spacing-#{$unit});
    }

    .p#{$axis}#{$unit} {
      padding-#{$dir1}: var(--spacing-#{$unit});
      padding-#{$dir2}: var(--spacing-#{$unit});
    }
  }

  .m#{$unit} {
    margin: var(--spacing-#{$unit});
  }

  .p#{$unit} {
    padding: var(--spacing-#{$unit});
  }
}
