<h2>
  <span style="font-weight: lighter">Near</span> <%= subscription.to_location.to_fs(:short) %>
</h2>
<div style="margin-bottom: 2rem;">
  <% listings.each do |listing| %>
    <td>
      <%= render "hackathon", hackathon: listing.hackathon %>
    </td>
  <% end %>
</div>
