<p>
  Check out
  <% if (count = @digest.listings.count) > 1 %>
    these <%= count %> hackathons
  <% else %>
    this hackathon
  <% end %>
  coming up near you.
</p>

<% @listings_by_subscription.each do |subscription, listings| %>
  <%= render "subscription", subscription:, listings: %>
<% end %>
