<div id="flash">
  <% if flash.notice %>
    <div class="fixed top-20 w-full flex justify-center pointer-events-none" data-controller="element-removal" data-action="animationend->element-removal#remove">
      <div class="py-2 px-6 bg-slate-900/80 backdrop-blur-xs rounded-full flex content-center pointer-events-auto text-[gainsboro] animate-[appear-then-fade_6s_250ms_both]">
        <%= flash.notice %>
      </div>
    </div>
  <% end %>
</div>
