<footer style="margin: var(--spacing-4)">
  <p class="caption" style="text-align: center;">
    <% if Current.user&.admin? %>
      Dashboard
    <% end %>
    <br/>
    <%= link_to "hackathons.hackclub.com", "https://hackathons.hackclub.com" %>, made with ❤️ by
    <%= link_to "Hack Club", "https://hackclub.com", class: "hidden-link" %>
  </p>

</footer>
