<h3>Your Hackathon Submissions</h3>
<% @hackathons.each do |hackathon| %>
  <article>
    <%= link_to hackathon.name, hackathons_request_path(hackathon) %>

    <small><i><%= hackathon.events.timelined.last %></i></small>
  </article>
<% end %>
