<h1>Your Hackathon Submissions</h1>
<% @hackathons.each do |hackathon| %>
  <article>
    <%= link_to hackathon.name, hackathons_submission_path(hackathon) %>

    <small><i>submitted <%= local_time_ago hackathon.created_at %></i></small>
  </article>
<% end %>
