<h1>Your Hackathon Submissions</h1>

<div id="hackathons_submissions">
  <% @hackathons.each do |hackathon| %>
    <article>
      <%= link_to hackathon.name, hackathons_submission_path(hackathon) %>

      <small><i>submitted <%= local_time_ago hackathon.created_at %></i></small>
    </article>
  <% end %>
</div>

<%= link_to "New submission", new_hackathons_submission_path %>
