<div class="flex flex-wrap justify-between items-center gap-x-8">
  <h1 class="headline text-(color:--red) my-2">
    <%= link_to "Hackathons Dashboard", admin_hackathons_path, class: "no-underline" %>
  </h1>
  <div class="flex items-center gap-2">
        <span>
          Welcome, <%= Current.user.first_name || "admin" %>
        </span>
    <%= avatar Current.user %>
  </div>
</div>
