<div style="display: flex; gap: var(--spacing-2) var(--spacing-4); flex-wrap: wrap">
  <%= render "admin/header/nav/link", title: "Hackathons", link: admin_hackathons_path %>
  <%= render "admin/header/nav/link", title: "Users", link: admin_users_path %>
  <%= render "admin/header/nav/link", title: "New Submission", link: new_hackathons_submission_path, target: "_blank" %>
</div>
