minimum_version: 1.1.0

service: hackathons

image: hackclub/hackathons

servers:
  web:
    hosts:
      - app-1.hackathons.hackclub.com
    options:
      memory: 2G
      cpus: 2
  jobs:
    hosts:
      - app-1.hackathons.hackclub.com
    cmd: bundle exec sidekiq
    options:
      memory: 1G
      cpus: 1

registry:
  server: ghcr.io
  username:
    - KAMAL_REGISTRY_USERNAME
  password:
    - KAMAL_REGISTRY_PASSWORD

env:
  clear:
    HOST: dash.hackathons.hackclub.com
    RAILS_MAX_THREADS: 10
    RAILS_MIN_THREADS: 5
    APP_REVISION: <%= `git rev-parse HEAD`.strip %>
  secret:
    - RAILS_MASTER_KEY
    - DATABASE_URL
    - REDIS_URL

builder:
  multiarch: false
  cache:
    type: gha
    options: mode=max

asset_path: "/hackathons/public/assets"

traefik:
  args:
    entrypoints.web.forwardedHeaders.trustedIPs: 10.0.0.0/8
