<% ENV["RAILS_ENV"] = "production" %>
<% require_relative "config/application" %>

minimum_version: 2.2.2

service:        hackathons
image: hackclub/hackathons

servers:
  web:
    hosts:
      - app-1.hackathons.hackclub.com
    options:
      memory: 2G
      cpus: 2
  jobs:
    hosts:
      - app-1.hackathons.hackclub.com
    cmd: bundle exec rails solid_queue:start
    options:
      memory: 1G
      cpus: 1

registry:
  server: ghcr.io
  username:
    - KAMAL_REGISTRY_USERNAME
  password:
    - KAMAL_REGISTRY_PASSWORD

builder:
  arch: amd64
  cache:
    type: gha
    options: mode=max

env:
  clear:
    HOST: dash.hackathons.hackclub.com
    WEB_CONCURRENCY: 2
  secret:
    - RAILS_MASTER_KEY
    - REDIS_URL

asset_path: "/hackathons/public/assets"
volumes: ["hackathons-storage:/hackathons/storage"]

proxy:
  app_port: 3000

accessories:
  litestream:
    roles: ["web"]
    image: litestream/litestream
    files: ["config/litestream.yml:/etc/litestream.yml"]
    volumes: ["hackathons-storage:/storage"]
    cmd: replicate
    env:
      secret:
        <% %w[BUCKET REGION ACCESS_KEY_ID SECRET_ACCESS_KEY].each do |secret| %>
          <% ENV["LITESTREAM_#{secret}"] = Rails.application.credentials.aws!.fetch(secret.downcase.to_sym) %>
          - LITESTREAM_<%= secret %>
        <% end %>
