minimum_version: 1.1.0

service: hackathons

image: hackclub/hackathons

servers:
  web:
    hosts:
      - app-1.hackathons.hackclub.com
    options:
      memory: 2G
      cpus: 2
  jobs:
    hosts:
      - app-1.hackathons.hackclub.com
    cmd: bundle exec sidekiq
    options:
      memory: 1G
      cpus: 1

registry:
  server: ghcr.io
  username:
    - KAMAL_REGISTRY_USERNAME
  password:
    - KAMAL_REGISTRY_PASSWORD

builder:
  multiarch: false
  cache:
    type: gha
    options: mode=max

env:
  clear:
    HOST: dash.hackathons.hackclub.com
    WEB_CONCURRENCY: 2
  secret:
    - RAILS_MASTER_KEY
    - REDIS_URL

volumes: ["hackathons-storage:/hackathons/storage"]

accessories:
  litestream:
    roles: ["web"]
    image: litestream/litestream
    files: ["config/litestream.yml:/etc/litestream.yml"]
    volumes: ["hackathons-storage:/storage"]
    cmd: replicate
    env:
      secret:
        - LITESTREAM_ACCESS_KEY_ID
        - LITESTREAM_SECRET_ACCESS_KEY
        - LITESTREAM_BUCKET

asset_path: "/hackathons/public/assets"

traefik:
  args:
    entrypoints.web.forwardedHeaders.trustedIPs: 10.0.0.0/8
