default: &default
  workers:
  - queues:
    - critical
    - default
    - low
    threads: <%= (ENV.fetch("RAILS_MAX_THREADS") { 5 }).to_i - 2 %>

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
