send_digests:
  cron: "every tuesday at 10am on America/Los_Angeles"
  class: "Hackathons::SendDigestsJob"

archive_websites:
  cron: "every monday at 10am on America/Los_Angeles"
  class: "Hackathon::ArchiveWebsiteJob"

find_dead_websites:
  cron: "every day at 10am on America/Los_Angeles"
  class: "Hackathon::FindDeadWebsitesJob"
