.button-group {
  display: flex;

  margin-top: var(--spacing-3);
  margin-bottom: var(--spacing-4);
}

.button-group > * {
  margin-right: 1.5rem;
}

.button--success {
  background-color: limegreen;
}

.button--neutral {
  background-color: darkgray;
}

.button--danger {
  background-color: crimson;
}

.button {
  padding: 0.5rem !important;
}
