.hackathon-snippet {
  display: flex;
  flex-direction: column;

  padding: var(--spacing-3);
  margin-bottom: var(--spacing-2);
}

.hackathon-snippet__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: var(--spacing-2);

  margin-bottom: var(--spacing-2);
}

.hackathon-snippet__title {
  margin: 0;
  color: var(--red);
}

.hackathon-snippet__status {
  font-size: var(--font-1);

  padding-left: var(--spacing-2);
  padding-right: var(--spacing-2);
}

.hackathon-snippet__created-at {
  text-align: right;
}

.hackathon-snippet__logo {
  max-width: 3rem;
  max-height: 3rem;
}

.hackathon-snippet__description {
  display: flex;
  column-gap: var(--spacing-3);
  align-items: flex-start;
}

.hackathon-snippet__times {
  display: grid;
  grid-template: auto auto / auto auto;
  column-gap: var(--spacing-1);
}

.hackathon > * {
  margin-top: 1rem;
}

@each $status, $color in ((pending, --slate), (approved, --green), (rejected, --red)) {
  .hackathon--#{$status} {
    border-color: var(#{$color});
    color: var(#{$color});
    background-color: color-mix(in srgb, var(#{$color}) 3%, transparent);
  }
}
