.timeline {
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-4);

  .timeline__icon:not(:last-child) {
    display: inline-block;
    margin-right: var(--spacing-2);
  }

  // Vertical line
  position: relative;

  &:after {
    content: '';
    position: absolute;

    top: 0;
    left: calc(32px / 2);

    margin-top: calc(32px / 2);
    height: calc(100% - 32px);
    width: 2px;

    background-color: var(--border);
    transform: translateX(-50%);

    z-index: -1;
  }
}

.timeline__event {
  margin-bottom: var(--spacing-3);

  display: flex;
  flex-direction: row;
  align-items: center;
}
