.flash-notice {
  position: fixed;
  top: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.flash-notice__content {
  background-color: rgba(35, 28, 51, 0.75);
  animation: appear-then-fade 6s 250ms both;
  border-radius: 5rem;
  padding: .5rem 1.5rem;
  display: flex;
  align-items: center;
  color: gainsboro;
  backdrop-filter: blur(3px) contrast(0.5)
}
