name: CD
on:
  push:
    branches: [main]
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Configure SSH
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_KEY }}
          known_hosts: ${{ vars.KNOWN_HOSTS }}
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Setup Docker
        uses: docker/setup-buildx-action@v2
      - uses: crazy-max/ghaction-github-runtime@v2
      - name: Get credentials from Heroku
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: |
          curl https://cli-assets.heroku.com/install-ubuntu.sh | sudo sh
          DATABASE_URL=$(heroku config:get DATABASE_URL -a hackathons)
          REDIS_URL=$(heroku config:get REDIS_URL -a hackathons)
      - name: Deploy to production!
        run: bundle exec kamal envify && bundle exec kamal deploy
        env:
          KAMAL_REGISTRY_USERNAME: ${{ github.actor }}
          KAMAL_REGISTRY_PASSWORD: ${{ github.token }}
          RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY }}
